.header__logo {
  font-family: $secondary-font;
  font-size: 26px;
  line-height: 1.192;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: $main-color;
  display: flex;
  align-items: center;
}
