$main-font: 'Roboto', 'Verdana', 'Tahoma', sans-serif;
$secondary-font: 'Raleway', 'Verdana', 'Tahoma', sans-serif;
$main-color: #2196f3;
$main-color-port: #2196F3E5;
$white-color: #ffffff;
$dark-color: #222222;
$gray-color: #757575;
$background-color-dark: #2f303a;
$background-color-gray: #f5f4fa;
